<a href="https://colab.research.google.com/github/alamin19/Time_Series_Prediction_2020/blob/main/Prediction_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [121]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [122]:
df = pd.read_csv('cqmpredict.csv')
df.head()

   year     IVD  ... Asthmatic Statin Therapy
0  2016  78.40%  ...    87.38%            NaN
1  2017  79.27%  ...    86.62%            NaN
2  2018  80.86%  ...    86.58%            NaN
3  2019  80.78%  ...    85.95%         70.09%
4  2020  78.80%  ...       NaN         71.92%

[5 rows x 19 columns]

In [123]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 19 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   year                                  5 non-null      int64
 1   IVD                                   5 non-null      object
 2   HbA1c <=9% of Total Diabetics         5 non-null      object
 3   Hypertensive Patients w BP < 140/90   5 non-null      object
 4   Children Weight                       5 non-null      object
 5   Depression                            5 non-null      object
 6   Dental Sealant                        5 non-null      object
 7   HbA1c >9% of Total Diabetics          5 non-null      object
 8   Adult Weight                          5 non-null      object
 9   CAD                                   3 non-null      object
 10  Tobacco                               5 non-null      object
 11  Colorectal Cancer                     5 non-null      object
 12  Pap Tests                             4 non-null      object
 13  Early Entry Prenatal                  5 non-null      object
 14  Low Birth Weight                      5 non-null      object
 15  Immunization                          5 non-null      object
 16  HIV and Received Follow-up Treatment  5 non-null      object
 17  Asthmatic                             4 non-null      object
 18  Statin Therapy                        2 non-null      object
dtypes: int64(1), object(18)
memory usage: 888.0+ bytes

In [124]:
df.replace('%', '', regex = True, inplace = True)

In [125]:
df.head()

   year    IVD  ... Asthmatic Statin Therapy
0  2016  78.40  ...     87.38            NaN
1  2017  79.27  ...     86.62            NaN
2  2018  80.86  ...     86.58            NaN
3  2019  80.78  ...     85.95          70.09
4  2020  78.80  ...       NaN          71.92

[5 rows x 19 columns]

In [126]:
df = df.astype('float') #convert object to number

In [127]:
df.year = df.year.astype('int')

In [128]:
df.describe() #std needs to be same to employ regular machine learning. Scalling needs to be performed. Typical machine learning, no variance is expected.

              year        IVD  ...  Asthmatic  Statin Therapy
count     5.000000   5.000000  ...   4.000000        2.000000
mean   2018.000000  79.622000  ...  86.632500       71.005000
std       1.581139   1.136495  ...   0.585228        1.294005
min    2016.000000  78.400000  ...  85.950000       70.090000
25%    2017.000000  78.800000  ...  86.422500       70.547500
50%    2018.000000  79.270000  ...  86.600000       71.005000
75%    2019.000000  80.780000  ...  86.810000       71.462500
max    2020.000000  80.860000  ...  87.380000       71.920000

[8 rows x 19 columns]

In [129]:
#Considering the null values. Imputation.
df.interpolate(method='linear', limit_direction='backward', inplace=True)

In [130]:
df.interpolate(method='linear', limit_direction='forward', inplace=True)

In [131]:
df.head()

   year    IVD  ...  Asthmatic  Statin Therapy
0  2016  78.40  ...      87.38           70.09
1  2017  79.27  ...      86.62           70.09
2  2018  80.86  ...      86.58           70.09
3  2019  80.78  ...      85.95           70.09
4  2020  78.80  ...      85.95           71.92

[5 rows x 19 columns]

In [132]:
df.set_index('year',inplace= True)

In [133]:
from statsmodels.tsa.api import VAR
x = df.iloc[:-1,0:17] #slicing , -1 = 2020 exclude, -2 = 2019 exclude

In [134]:
x.head()

        IVD  ...  Asthmatic
year         ...
2016  78.40  ...      87.38
2017  79.27  ...      86.62
2018  80.86  ...      86.58
2019  80.78  ...      85.95

[4 rows x 17 columns]

In [135]:
x.describe()

            IVD  ...  Asthmatic
count   4.00000  ...   4.000000
mean   79.82750  ...  86.632500
std     1.20026  ...   0.585228
min    78.40000  ...  85.950000
25%    79.05250  ...  86.422500
50%    80.02500  ...  86.600000
75%    80.80000  ...  86.810000
max    80.86000  ...  87.380000

[8 rows x 17 columns]

In [136]:
df.shape

(5, 18)

In [137]:
x_var = VAR(x)
model = x_var.fit()

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:215: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)

In [138]:
pred = model.forecast(model.y,steps=1) #step 1 = 1 years, step 2 = next 2 years

/usr/local/lib/python3.7/dist-packages/statsmodels/base/wrapper.py:35: FutureWarning: y is a deprecated alias for endog, will be removed in version 0.11.0
  obj = getattr(results, attr)

In [139]:
print(pred)

[[80.8598437  68.64217944 65.41418814 72.12097841 71.95472336 58.6857786
  31.66622081 73.2055552  80.88611275 86.95676719 46.21031688 56.95428465
  74.04533725  8.10085448 40.08478725 88.17539476 85.92171334]]

In [140]:
#merge and graph
#score

def MAPE(Y_actual,Y_Predicted):
    mape = np.mean(np.abs((Y_actual - Y_Predicted)/Y_actual))*100
    return mape

In [141]:
MAPE(68.05, 67.81) #Error, 98%accuracy

0.3526818515797133

In [153]:
res.to_csv('predicted.csv')
df.to_csv('actual.csv')