<a href="https://colab.research.google.com/github/alamin19/Prediction_2020/blob/main/Prediction_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('cqmpredict.csv')
df.head()

   year     IVD  ... Asthmatic Statin Therapy
0  2016  78.40%  ...    87.38%            NaN
1  2017  79.27%  ...    86.62%            NaN
2  2018  80.86%  ...    86.58%            NaN
3  2019  80.78%  ...    85.95%         70.09%
4  2020  78.80%  ...       NaN         71.92%

[5 rows x 19 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 19 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   year                                  5 non-null      int64
 1   IVD                                   5 non-null      object
 2   HbA1c <=9% of Total Diabetics         5 non-null      object
 3   Hypertensive Patients w BP < 140/90   5 non-null      object
 4   Children Weight                       5 non-null      object
 5   Depression                            5 non-null      object
 6   Dental Sealant                        5 non-null      object
 7   HbA1c >9% of Total Diabetics          5 non-null      object
 8   Adult Weight                          5 non-null      object
 9   CAD                                   3 non-null      object
 10  Tobacco                               5 non-null      object
 11  Colorectal Cancer                     5 non-null      object
 12  Pap Tests                             4 non-null      object
 13  Early Entry Prenatal                  5 non-null      object
 14  Low Birth Weight                      5 non-null      object
 15  Immunization                          5 non-null      object
 16  HIV and Received Follow-up Treatment  5 non-null      object
 17  Asthmatic                             4 non-null      object
 18  Statin Therapy                        2 non-null      object
dtypes: int64(1), object(18)
memory usage: 888.0+ bytes

In [5]:
df.replace('%', '', regex = True, inplace = True)

In [6]:
df.head()

   year    IVD  ... Asthmatic Statin Therapy
0  2016  78.40  ...     87.38            NaN
1  2017  79.27  ...     86.62            NaN
2  2018  80.86  ...     86.58            NaN
3  2019  80.78  ...     85.95          70.09
4  2020  78.80  ...       NaN          71.92

[5 rows x 19 columns]

In [7]:
df = df.astype('float') #convert object to number

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 19 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   year                                  5 non-null      float64
 1   IVD                                   5 non-null      float64
 2   HbA1c <=9% of Total Diabetics         5 non-null      float64
 3   Hypertensive Patients w BP < 140/90   5 non-null      float64
 4   Children Weight                       5 non-null      float64
 5   Depression                            5 non-null      float64
 6   Dental Sealant                        5 non-null      float64
 7   HbA1c >9% of Total Diabetics          5 non-null      float64
 8   Adult Weight                          5 non-null      float64
 9   CAD                                   3 non-null      float64
 10  Tobacco                               5 non-null      float64
 11  Colorectal Cancer                     5 non-null      float64
 12  Pap Tests                             4 non-null      float64
 13  Early Entry Prenatal                  5 non-null      float64
 14  Low Birth Weight                      5 non-null      float64
 15  Immunization                          5 non-null      float64
 16  HIV and Received Follow-up Treatment  5 non-null      float64
 17  Asthmatic                             4 non-null      float64
 18  Statin Therapy                        2 non-null      float64
dtypes: float64(19)
memory usage: 888.0 bytes

In [9]:
df.describe() #std needs to be same to employ regular machine learning. Scalling needs to be performed. Typical machine learning, no variance is expected.

              year        IVD  ...  Asthmatic  Statin Therapy
count     5.000000   5.000000  ...   4.000000        2.000000
mean   2018.000000  79.622000  ...  86.632500       71.005000
std       1.581139   1.136495  ...   0.585228        1.294005
min    2016.000000  78.400000  ...  85.950000       70.090000
25%    2017.000000  78.800000  ...  86.422500       70.547500
50%    2018.000000  79.270000  ...  86.600000       71.005000
75%    2019.000000  80.780000  ...  86.810000       71.462500
max    2020.000000  80.860000  ...  87.380000       71.920000

[8 rows x 19 columns]

In [16]:
#Considering the null values. Imputation.
df.interpolate(method='linear', limit_direction='backward', inplace=True)

In [17]:
df.interpolate(method='linear', limit_direction='forward', inplace=True)

In [18]:
df.head()

     year    IVD  ...  Asthmatic  Statin Therapy
0  2016.0  78.40  ...      87.38           70.09
1  2017.0  79.27  ...      86.62           70.09
2  2018.0  80.86  ...      86.58           70.09
3  2019.0  80.78  ...      85.95           70.09
4  2020.0  78.80  ...      85.95           71.92

[5 rows x 19 columns]

In [72]:
from statsmodels.tsa.api import VAR
x = df.iloc[:-2,1:18] #slicing

In [73]:
x.head()

     IVD  ...  Asthmatic
0  78.40  ...      87.38
1  79.27  ...      86.62
2  80.86  ...      86.58

[3 rows x 17 columns]

In [74]:
x.describe()

             IVD  ...  Asthmatic
count   3.000000  ...   3.000000
mean   79.510000  ...  86.860000
std     1.247437  ...   0.450777
min    78.400000  ...  86.580000
25%    78.835000  ...  86.600000
50%    79.270000  ...  86.620000
75%    80.065000  ...  87.000000
max    80.860000  ...  87.380000

[8 rows x 17 columns]

In [75]:
df.shape

(5, 19)

In [76]:
x_var = VAR(x)
model = x_var.fit()

In [77]:
pred = model.forecast(model.y,steps=1)

/usr/local/lib/python3.7/dist-packages/statsmodels/base/wrapper.py:35: FutureWarning: y is a deprecated alias for endog, will be removed in version 0.11.0
  obj = getattr(results, attr)

In [78]:
print(pred)

[[82.54204363 67.80641721 64.09701604 71.94451087 74.13078034 54.62422147
  32.9166778  75.00523775 81.15091741 89.13416679 45.87138451 56.54781551
  74.25026525  8.0371429  39.17306339 86.87946909 87.1784494 ]]

In [ ]:
#merge and graph
#score

mape_score =