<a href="https://colab.research.google.com/github/alamin19/Prediction_2020/blob/main/Prediction_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('cqmpredict.csv')
df.head()

   year     IVD  ... Asthmatic Statin Therapy
0  2016  78.40%  ...    87.38%            NaN
1  2017  79.27%  ...    86.62%            NaN
2  2018  80.86%  ...    86.58%            NaN
3  2019  80.78%  ...    85.95%         70.09%
4  2020  78.80%  ...       NaN         71.92%

[5 rows x 19 columns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 19 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   year                                  5 non-null      int64
 1   IVD                                   5 non-null      object
 2   HbA1c <=9% of Total Diabetics         5 non-null      object
 3   Hypertensive Patients w BP < 140/90   5 non-null      object
 4   Children Weight                       5 non-null      object
 5   Depression                            5 non-null      object
 6   Dental Sealant                        5 non-null      object
 7   HbA1c >9% of Total Diabetics          5 non-null      object
 8   Adult Weight                          5 non-null      object
 9   CAD                                   3 non-null      object
 10  Tobacco                               5 non-null      object
 11  Colorectal Cancer                     5 non-null      object
 12  Pap Tests                             4 non-null      object
 13  Early Entry Prenatal                  5 non-null      object
 14  Low Birth Weight                      5 non-null      object
 15  Immunization                          5 non-null      object
 16  HIV and Received Follow-up Treatment  5 non-null      object
 17  Asthmatic                             4 non-null      object
 18  Statin Therapy                        2 non-null      object
dtypes: int64(1), object(18)
memory usage: 888.0+ bytes

In [13]:
df.replace('%', '', regex = True, inplace = True)

In [14]:
df.head()

   year    IVD  ... Asthmatic Statin Therapy
0  2016  78.40  ...     87.38            NaN
1  2017  79.27  ...     86.62            NaN
2  2018  80.86  ...     86.58            NaN
3  2019  80.78  ...     85.95          70.09
4  2020  78.80  ...       NaN          71.92

[5 rows x 19 columns]

In [20]:
df = df.astype('float')

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 19 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   year                                  5 non-null      float64
 1   IVD                                   5 non-null      float64
 2   HbA1c <=9% of Total Diabetics         5 non-null      float64
 3   Hypertensive Patients w BP < 140/90   5 non-null      float64
 4   Children Weight                       5 non-null      float64
 5   Depression                            5 non-null      float64
 6   Dental Sealant                        5 non-null      float64
 7   HbA1c >9% of Total Diabetics          5 non-null      float64
 8   Adult Weight                          5 non-null      float64
 9   CAD                                   3 non-null      float64
 10  Tobacco                               5 non-null      float64
 11  Colorectal Cancer                     5 non-null      float64
 12  Pap Tests                             4 non-null      float64
 13  Early Entry Prenatal                  5 non-null      float64
 14  Low Birth Weight                      5 non-null      float64
 15  Immunization                          5 non-null      float64
 16  HIV and Received Follow-up Treatment  5 non-null      float64
 17  Asthmatic                             4 non-null      float64
 18  Statin Therapy                        2 non-null      float64
dtypes: float64(19)
memory usage: 888.0 bytes

In [ ]:
#Considering the null values

In [22]:
from statsmodels.tsa.api import VAR
x = df.iloc

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm